.col-xl-12{
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}
.servicos{
    background: url(./img/Imagens/background-home-01.png)  ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}

.container .title{
    margin-top: 20px;
    display: block;
    
}


/*Ícones*/
#servicos h4{
    margin-top: 0;
}


#servicos #icon1{
    margin: 50px 0px 30px 30px;
}

#servicos #icon2{
    margin: 50px 0px 30px 30px;
    padding-left: 
}

#servicos #text2{
    padding-left: 10px;
}

#servicos #icon3{
    margin: 50px 0px 30px 30px;
}

#servicos #text3{
    padding-left: 15px;
}

#servicos #icon4{
    margin: 50px 0px 30px 30px;
}

#servicos #icon5{
    margin: 50px 0px 30px 30px;
}

#servicos #text4{
    padding-left: 10px;
}

#servicos #icon6{
    margin: 50px 0px 30px 30px;
}

#servicos{
    margin: 50px 0px 100px 0px;
    
    
}





/* Texto dos ícones*/
.text-icon{
    
    line-height: 15px;
    color: black;
    text-align: justify;
    
}

/*Solucoes*/

#solucoes{
    margin-bottom: 100px;
}



.container div h4{
    margin-top: 40px;
}

.container div ul{
    margin-top: 65px;
}

.container .row article{
    margin-top: 50px;
}

.container #area-atuacao{
    margin-top: 50px;
}




#area-atuacao .container p{
    display: inline-block;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    text-align: center;
   
}

#area-atuacao .container .col-md-4{
    display: flex;
    padding-left: 55px;
    margin-top: 20px;
}

/*Área Parceiros*/

#parceiro{
    margin-top: 50px;
}

#parceiro img{
    margin-left: 500px; 
    margin-top: 20px;  
}

#parceiro h4{
    text-align: center;
    font-weight: bold;
    
}



#footer{

    background-image: url(./img/Imagens/tech-bg.jpg);

}








